/* 
   css clearing section provided by myerweb

   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
em {
  font-weight: normal;
  font-style: italic;
}
b {
  font-weight: bold;
  font-style: normal;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
a {
  text-decoration: none;
  color: #66b;
}
a:hover {
  color: #82f;
  text-decoration: underline;
}
table {
  border-collapse: collapse;
  border: 1px solid #444;
  padding: 0.5em;
  width: 100%;
}
th {
  border: 1px solid #444;
  padding: 0.5em;
  font-size: 0.9em;
  text-align: center;
  font-weight: bold;
}
td {
  border: 1px solid #444;
  padding: 0.5em;
  font-size: 0.9em;
  text-align: left;
  vertical-align: middle;
  margin: auto;
  color: #444;
}

/* Begin my wild stab at CSS  */
ul {
  font-family: "liberation sans", sans-serif;
  color: #444;
  margin-left: 1em;
  font-size: 0.9em;
  list-style-type: disc;
}
ol {
  font-family: "liberation sans", sans-serif;
  color: #444;
  margin-left: 1em;
  font-size: 0.9em;
  list-style-type: decimal;
}

#toc {
  margin: 0 auto;
  max-width: 800px;
}
#toc h1 {
  font-family: "liberation serif", serif;
  font-size: 2em;
  margin-top: 1em;
}
#toc h2 {
  font-family: "liberation sans", sans-serif;
  font-size: 1.5em;
  margin-top: 1em;
  border-top: 1px solid #ddd;
}
#toc h3 {
  font-family: "liberation sans", sans-serif;
  font-size: 1.25em;
  margin-top: 0.5em;
  margin-left: 2em;
}
#toc h4 {
  font-family: "liberation sans", sans-serif;
  font-size: 1em;
  margin-top: 0.5em;
  margin-left: 3em;
}
#toc h5 {
  font-family: "liberation sans", sans-serif;
  font-size: 1em;
  margin-top: 0.5em;
  margin-left: 4em;
}
#toc a {
  text-decoration: none;
  color: #777;
}
#toc a:hover {
  color: #aaa;
  text-decoration: underline;
}

#title {
  font-family: "liberation sans", sans-serif;
  float: left;
  margin-left: 10%;
}
#title h1 {
  font-size: 3em;
  margin-top: 15px;
}

#body {
  font-size: 1em;
  line-height: 1em;
  margin: 0 auto;
  margin-bottom: 25px;
  max-width: 800px;
}
#body p {
  font-size: 0.9em;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #444;
  font-family: "liberation sans", sans-serif;
  text-align: justify;
}
#body h1 {
  font-family: "liberation serif", serif;
  font-size: 2.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}
#body h2 {
  font-family: "liberation serif", serif;
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}
#body h3 {
  font-family: "liberation serif", serif;
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}
#body h4 {
  font-family: "liberation serif", serif;
  font-size: 1.25em;
  margin-top: 1em;
  margin-bottom: 1em;
}

#body code {
  font-family: "liberation mono", monospace;
  color: #111;
  background: #ccc;
}
#body .source {
  margin-top: 1em;
  padding: 1em;
  border-radius: 1em;
  font-size: 0.9em;
  font-family: "liberation mono", monospace;
  color: #dcdcdc;
  background: #111;
}
#body .source code {
  color: #dcdcdc;
  background: #111;
}
#body .source a {
  color: #eee;
}
#body .source a:hover {
  color: #e0e;
  text-decoration: underline;
}
#body .source pre {
  font-size: 0.9em;
  font-family: "liberation mono", monospace;
  overflow: auto;
}

#body .terminal {
  margin-top: 1em;
  padding: 1em;
  border-radius: 1em;
  font-size: 0.9em;
  font-family: "liberation mono", monospace;
  color: #eee;
  background: #111;
}
#body .terminal pre {
  font-family: "liberation mono", monospace;
  overflow: auto;
}
aside {
  font-size: 0.8em;
  border-radius: 1em;
  border: #669 1px solid;
  color: #444;
  text-align: justify;
  background: #ccf;
  margin: 1em;
  padding: 1em;
}

header {
  margin: 0 auto;
  padding-top: 1em;
  max-width: 800px;
  height: 5em;
}
header p {
  text-align: center;
  margin: 1em;
}

footer {
  margin: 0 auto;
  padding-top: 1em;
  max-width: 800px;
  height: 5em;
}
footer nav {
  text-align: center;
  margin: 2em;
}
footer p {
  text-align: center;
  margin: 1em;
}

footer small {
  font-size: 0.7em;
}